*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    height: 60px;
    overflow: visible !important;
    background-color: rgb(7, 137, 212);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 5;
}
.logo{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    background-color: white;
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
}
.logo_font{
    font-size: 22px;
}
.meni{
    overflow: visible;
}
.meni ul li a{
    text-decoration: none;
    color: black;
    height: 60px;
    overflow: visible;
}
.meni ul li{
    height: 60px;
}
.meni ul li a p{
    margin-top: 10px;
    padding: 10px;
}
#prijava{
    background-color: #272626;
    padding: 15px;
}
#prijavljen{
    background-color: #272626;
    padding: 15px;
    width: 266px;
}
#prijava a{
color: white;
height: 100%;
margin-top: -7px;
width: 100%;
display: flex;
flex-direction: row;
align-items: center;
}
#prijavljen a{
color: white;
height: 100%;
margin-top: -7px;
width: 100%;
display: flex;
flex-direction: row;
align-items: center;
}
.fa-plus{
    color: white;
    font-size: 20px;
    padding: 10px;
    padding-top: 20px;
    cursor: pointer;
    background-color: #272626;
}
.fa-plus:hover{
    background-color: rgb(98, 105, 107);
    transition: 0.5s;
}
.fas{
    font-size: 22px;
}
.reg_meni{
    background-color: #272626;
    height: 100vh;
    width: 305px ;
    position: absolute;
    top: 60px;
    display: none;
    box-shadow: -10px 0px 28px rgb(43, 42, 42);
    overflow: hidden;
}
.reg_meni ul li a{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
}
.pregleKorisnika{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.divNumOfNotification{
    height: 30px;
    width: 30px;
    background-color: red;
    margin: 0 !important;
    border-radius: 50%;
    margin-right: -50px;
}
.reg_meni ul li:hover{
    color: white;
    background-color: rgb(98, 105, 107);
}
.show{
    display: block;    
    animation-name: example;
    animation-duration: 1s;
    animation-direction: alternate;
}
.fa-arrow-right-from-bracket{
    font-size: 23px;
    margin-left: 145px;
}
.zatamni{
    filter: blur(3px);
    transition: 1s;
}
@keyframes example{
    0%   {right:-350px;}
    100%  {right:-1%;}
}
.meni_i_opcije{
    display: flex;
    flex-direction: column;
    position: relative;
}
.reg_meni ul{
    display: flex;
    flex-direction: column !important;
}
.korisnicko_i_dugme{
    display: flex;
    flex-direction: row;
}
.meni ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    height: 100%;
}
.slika{
    width: 100%;
    height: 40%;
}
.novosti{
    height: 100vh;
    width: 100%;
    background-color:  white;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
.novosti h1{
    margin: 80px 40px 40px 40px;
}
.novosti_kartica{
    height: 50%;
    width: 60%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 20px;
}
.kartica_slika{
    height: 100%;
    width: 35%;
}
.kartica_slika img{
    height: 100%;
    width: 100%;
}
.kartica_sadrzaj{
    display: flex;
    flex-direction: column;
    width: 65%;
}
.kartica_naslov{
    height: 40%;
    padding: 2%;
}
.kartica_tekst{
    padding: 2%;
    height: 60%;
}
.o_nama{
    width: 100%;
    height: 100vh;
    padding: 145px 70px 100px 70px;
    background-image: url(https://www.cochrane.org/sites/default/files/public/styles/social_media/public/uploads/news/young-confident-asian-male-dentist-medical-treatment-to-a-female-patient-at-the-clinic.-dental-clinic-concept-911844046_1257x838_3.jpeg?itok=3i_vcvWo);
    background-color: rgb(7, 137, 212);
    opacity: 75%;
    display: flex;
    flex-direction: row;
}
.background_img{
    height: 100%;
    width: 100%;
    background-color: royalblue;

}
.o_nama_naslov{
    margin-bottom: 40px;
}
.o_nama_sadrzaj{
    width: 50%;
}
.o_nama_slika{
 width: 50%;
}
.o_nama_slika img{
 width: 90%;
 opacity: 100%;
 border: 10px solid rgb(7, 137, 212);
}
.o_nama p{
    padding-right: 50px;
}
.nas_tim{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nas_tim h1{
    margin: 70px 0px 50px 0px;
}
.nas_tim_kartica{
    width: 300px;
    height: 450px;
    border:1px solid black;
    margin-bottom: 30px;
}
.doktor_slika{
    width: 100%;
    height: 80%;
}
.doktor_slika img{
    width: 100%;
    height: 100%;
}
.doktor_ime{
    text-align: center;
    padding: 10px;
}
.doktor_ime p a{
    text-decoration: none;
    color: black;
}
.doktor_ime p{
    margin-top: 10px;
}
.kartice_doktor{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.galerija{
    width: 100%;
    background-color: rgb(7, 137, 212);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.galerija_naslov{
    margin: 60px 0px 30px 0px;
}
.galerija_slike{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 10px 10px;
    width: 80%;
    margin-bottom: 30px;
}
.slika_okvir{
    height: 200px;
    width: 300px;
    border: 1px solid black;
}
.slika_okvir img{
    height: 100%;
    width: 100%;
}
.footer_info{
    background-color: #272626;
    height: 90vh;   
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}
.logo2{
    height: 200px;
    width: 200px;
    background-color: white;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 10px;
}
.logo2 p{
    font-size: 50px;
}
.logo2 .fas{
    font-size: 50px;
    color: rgb(7, 137, 212);
}
.drugi{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.treci{
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.adresa{
    margin-top: 20px;
}
.telefon{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}
.telefon1{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}
.telefon .fas{
    color: rgb(7, 137, 212);
    margin-right: 15px;
}
.telefon1 .fas{
    margin-right: 15px;
    color: rgb(7, 137, 212);
}
.mail{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}
.mail .far{
    margin-right: 15px;
    font-size: 25px;
    color: rgb(7, 137, 212);

}
.informacije p{
    color: white;
}
.zakazite_pregled{
    width: 25%;
}
.zakazite_pregled h2{
    color: white;
    margin-bottom: 20px;
}
.zakazite_pregled p{
    color: white;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.button-18 {
    align-items: center;
    background-color: #0A66C2;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
  }
  
  .button-18:hover,
  .button-18:focus { 
    background-color: #16437E;
    color: #ffffff;
  }
  
  .button-18:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
  }
  
  .button-18:disabled { 
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
  }
 .footer_copyright{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 70px;
     width: 100%;
     background-color: #333536;
 }
 .footer_copyright p{
     color: white;
 }